---
layout: default
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Science Mom</h2>
    </div>
</section>
<section id="main" class="wrapper style1">
    {% for post in site.posts %}
      {% if post.sciencemom %}
        {% include /tables.html %}
    <!--
        <div class="wrapper {% cycle 'style1' %}">
            <section class="container">
              {% include /tables.html %}
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">Read More</a></li>
                </ul> 
            </section>
        </div>-->
      {% endif %}
    {% endfor %}
</section>
