---
layout: default
title: Blog
tags: [Categories]
description: "An archive of posts sorted by categories."
---

<!-- Container -->
<div class="container section_gap_top">

<!-- Tags -->
<div class="widget">
  <h3 class="title">Blog posts by category</h3>
  <div class="blog-tags">
    {% assign tags_list = site.categories %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
      <a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
      <a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
      {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
  </div>
</div>
<!-- /Tags -->



{% for tag in site.categories reversed %}

<!-- Portfolio -->
<div id="portfolio" class="section sm-padding" style="margin-top:20px;">

  <!-- Container -->
  <div class="container">
    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title" id="{{ tag[0] }}" style="text-transform:capitalize;">{{ tag[0] | capitalize }}</h2>
    </div>
    <!-- /Section header -->
    <!-- Row -->
    <div class="row">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
      <!-- Work -->
        <div class="col-12 work bg-grey" style="margin-bottom:10px; padding-top:10px;">
          <img class="rounded float-right blog-img" src="{{ site.baseurl }}/images/{{ post.folder }}/{{ post.imagefeature }}" alt="{{ post.description }}">
            <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <p>{{ post.description }}</p>
        </div>
      <!-- /Work -->
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
   </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Portfolio -->

{% endfor %}

</div>
<!-- /Container -->
