---
layout: default
---


<section id="main" class="wrapper style1">
    {% for post in site.posts %}
      {% if post.blog or post.sciencemom %}
        <div class="wrapper {% cycle 'style1', 'style2' %}">
          {% if post.imagefeature %}
            <div class="container">
              <div class="row">
                <div class="4u 12u$(small)">
                  <img src="{{ site.baseurl }}/images/{{ post.folder }}/{{ post.imagefeature }}" alt="post.description" style="width:200px; display: block; margin: auto;">
                </div>
                <div class="8u$ 12u$(small)">
                  <header class="major">
                      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                  </header>
                  <section>
                      {{ post.headline }}
                     <!-- {{ post.excerpt }} -->
                  </section>
                  <section class="special">
                      <ul class="actions">
                          <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">Read More</a></li>
                      </ul>
                  </section>
                </div>
              </div>
            </div>

          {% else %}
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            </header>
            <section class="container">
                {{ post.headline }}
               <!-- {{ post.excerpt }} -->
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">Read More</a></li>
                </ul>
            </section>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
</section>
