	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Recent posts</h2>
				</div>
				<!-- /Section header -->

 			{% for post in site.posts limit:3 %}
				<!-- Work -->
				<a href="{{ site.url }}{{ post.url }}">
					<div class="col-md-4 col-xs-6 work">
						<img class="img-responsive lazy" src="{{ site.baseurl }}/images/{{ post.folder }}/{{ post.imagefeature }}" alt="{{ post.description }}">
						<div class="overlay"></div>
						<div class="work-content">
							<h3>{{ post.title }}</h3>
							<p>{{ post.description }}</p>
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fas fa-user"></i>Jenny Ballif</li>
								<li><i class="far fa-clock"></i>{{ post.date | date: "%b %-d, %Y" }}</li>
							</ul>
						</div>
					</div>
				</a>
				<!-- /Work -->
				{% endfor %}

				<!-- Tags -->
				<div class="widget">
				  <h3 class="title">Blog posts by category</h3>
				  <div class="widget-tags">
				    {% assign tags_list = site.categories %}
				    {% if tags_list.first[0] == null %}
				      {% for tag in tags_list %}
				      <a href="{{ site.url }}/blog#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a>
				      {% endfor %}
				    {% else %}
				      {% for tag in tags_list %}
				      <a href="{{ site.url }}/blog#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
				      {% endfor %}
				    {% endif %}
				    {% assign tags_list = nil %}
				  </div>
				</div>
				<!-- /Tags -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->
