---
layout: default
title: Chemistry with Science Mom
description: "Videos from the series Chemistry with Science Mom"
---

<div class="container">

  <!-- Row -->
  <div class="row">
    <h2>Chemistry with Science Mom</h2>
    <p>Download <a href="https://science.mom/images/ChemistryPreview.pdf" target="_blank">the notes</a> to see the schedule and supply list.</p>
    {% assign vids = site.data.chemistry | group_by: 'category' %}
    {% for cat in vids %}
    {% assign items = cat.items | sort: 'order' %}
    {% for video in items %}
    <div class="{% cycle 'bg-grey', 'bg-dark' %}">
      <header class="major text-center">
        {% if video.posturl %}
          <h3 style="padding: 1em;"><a href="{{ site.baseurl }}{{ video.posturl }}">{{ video.title }}</a></h3>
        {% else %}
          <h3 style="padding: 1em;">{{ video.title }}</h3>
        {% endif %}
      </header>
      <section class="container">
        <!-- video -->   
          <div class="vidwrapper">
          	<div class="youtube" data-embed="{{ video.id }}">
          		<div class="play-button"></div>
          	</div>
          </div>
        <!-- /video -->  
        {% if video.poll %}
          <p style="text-align: center;"><a href="{{ video.poll }}">Watch {{ video.title }} with a poll</a></p>
        {% endif %}
      </section>
    </div>
    {% endfor %}
    {% endfor %}
  </div >
  <!-- /Row -->
 




  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
