---
layout: default
title: Earth Science with Science Mom
description: "Videos from the series Earth Science with Science Mom"
sitemap:
  lastmod: 2020-02-05
  priority: 0.7
  changefreq: 'monthly'
  exclude: 'no'
---

<div id="main" class="container menu_pad_top" >
    <p>Join Science Mom and Math Dad for a semester-long dive into Earth Science! We’ve designed this course especially for 4th-5th grade students and their teachers, but the course is also a good fit for a younger student or a middle schooler who is passionate about science. You can download the notes for free to see the schedule and supply list.</p>
    <p><a  href="https://sciencemom.ck.page/earthsciencenotes" target="_blank">
     <button class="primary-btn2" style="margin:0 auto; display:block;"><i class="fas fa-globe-africa fa-2x" style="display: inline-block; vertical-align: middle; margin-right:10px;"></i> Get the earth science notes!</button>
    </a></p>
</div>
<div id="main" class="container menu_pad_top" >
  <p>At some point in the near future, we plan to move the home for this course to be with our other courses. You can register for free using the link below. Any course improvements or updates will occur at the new home page.</p>
  <p><a  href="https://sciencemom.teachable.com/p/earth-science" target="_blank">
   <button class="primary-btn2" style="margin:0 auto; display:block;"><i class="fas fa-globe-africa fa-2x" style="display: inline-block; vertical-align: middle; margin-right:10px;"></i>Visit the new course home page.</button>
  </a></p>
</div>


      <!--================ Start Video Feed =================-->
      <!-- Row -->
<div class="container">
  <h2>Earth Science with Science Mom</h2>
  <div class="row justify-content-center">
  {% assign items = site.data.earthscience %}
  {% for video in items %}
  <div class="col-12 col-md-10 col-lg-8 {% cycle 'bg-grey', 'bg-dark' %} video-row">
  <header class="major text-center">
    {% if video.posturl %}
      <h3 style="padding: 1em;"><a href="{{ site.baseurl }}{{ video.posturl }}">{{ video.title }}</a></h3>
    {% else %}
      <h3 style="padding: 1em;">{{ video.title }}</h3>
    {% endif %}
  </header>
  <section class="container">
    <!-- video -->
    <div class="video-container">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/{{ video.id }}?rel=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <!-- /video -->
    {% if video.poll %}
    <div class="blog-worksheets">
      <p style="text-align: center;">
        <a class="primary-btn" href="{{ video.poll | cgi_encode  }}" data-toggle="tooltip" title="Watch {{ video.title }} with a poll" rel="tag" target="_blank" style="margin: 5px 0;"><i class="fas fa-poll fa-2x" style="display: inline-block; vertical-align: middle; margin: 5px 5px; margin-right:10px;"></i> Participate in the polls while watching the replays!</a>
    </div>
    {% endif %}
  </section>
  </div>
  {% endfor %}
</div >
</div>
      <!-- /Row -->
      <!--================ End Video Feed =================-->
