---
layout: default
title: Posts with Videos
description: "An archive of posts with printables"
---

<div class="container">

  <!-- Tags -->
  <div class="widget">
    <h3 class="title">Printables by category</h3>
    <div class="widget-tags">
      {% assign prints = site.data.printables | group_by: 'category' %}
      {% for cat in prints %}
        <a href="#{{ cat.name }}">{{ cat.name | capitalize }}</a>
      {% endfor %}
    </div>
  </div>
  <!-- /Tags -->
  <!-- Row -->
  <div class="row">
    {% assign prints = site.data.printables | group_by: 'category' %}
    {% for cat in prints %}
      <h2 id="{{ cat.name }}" style="padding: 1em;">{{ cat.name | capitalize }} Previews</h2>
    {% assign items = cat.items | sort: 'order' %}
    {% for print in items %}
    <div class="{% cycle 'bg-grey', 'bg-dark' %}">
      <header class="major text-center">
        {% if print.url %}
          <h3 style="padding: 1em;"><a href="{{ site.baseurl }}{{ print.url }}">{{ print.title }}</a></h3>
        {% else %}
          <h3 style="padding: 1em;">{{ print.title }}</h3>
        {% endif %}
      </header>
      <section class="container">
        <!-- div col-sm-8 -->
        <div class="col-sm-8">
          {% if print.wideimage %}
          <p>
            <div id="scroll">
              <img src="{{ print.wideimage }}">
            </div>
          </p>
          {% elsif print.image %}
          <p>
              <img src="{{ print.image }}" style="max-width:90%;">
          </p>
          {% endif %}
        </div>
          <!-- /div col-sm-8 -->

          <!-- div col-sm-4 -->
          <div class="col-sm-4">
            <!-- blog worksheets -->
            <div class="blog-worksheets">
              <h5>Downloads:</h5>
              {% if print.url %}
                <a href="{{ print.url | cgi_encode }}" data-toggle="tooltip" title="Get the printable file" rel="tag" target="_blank"><i class="{% if print.linkicon %}{{ print.linkicon }}{% else %} far fa-newspaper  {% endif %}"></i>Get the file</a>
              {% endif %}
            </div>
            <!-- /blog worksheets -->
          </div>
          <!-- /div col-sm-4 -->
        </div>
        {% endfor %}
      </section>
      {% endfor %}
  </div >
  <!-- /Row -->




</div>




  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
