---
layout: default
title: Posts with Videos
description: "An archive of posts with videos"
---

<div class="container">
  <!-- Tags -->
  <div class="widget">
    <h3 class="title">Videos by category</h3>
    <div class="widget-tags">
      {% assign vids = site.data.videos | group_by: 'category' %}
      {% for cat in vids %}
        <a href="#{{ cat.name }}">{{ cat.name | capitalize }} </a>
      {% endfor %}
    </div>
  </div>
  <!-- /Tags -->

  <!-- Row -->
  <div class="row">
    {% assign vids = site.data.videos | group_by: 'category' %}
    {% for cat in vids %}
      <h2 id="{{ cat.name }}" style="padding: 1em;">{{ cat.name | capitalize }} Videos</h2>
    {% assign items = cat.items | sort: 'order' %}
    {% for video in items %}
    <div class="{% cycle 'bg-grey', 'bg-dark' %}">
      <header class="major text-center">
        {% if video.posturl %}
          <h3 style="padding: 1em;"><a href="{{ site.baseurl }}{{ video.posturl }}?rel=0">{{ video.title }}</a></h3>
        {% else %}
          <h3 style="padding: 1em;">{{ video.title }}</h3>
        {% endif %}
      </header>
      <section class="container">
        <!-- div col-sm-8 -->
        <div class="col-sm-8">
          <div class="vidwrapper">
          	<div class="youtube" data-embed="{{ video.id }}">
          		<div class="play-button"></div>
          	</div>
          </div>

          </div>
          <!-- /div col-sm-8 -->

          <!-- div col-sm-8 -->
          <div class="col-sm-4">
            <!-- blog worksheets -->
            <div class="blog-worksheets">
              <h5>Supplements:</h5>
              {% if video.folder %}
              {% for worksheet in video.worksheets %}
                <a href="{{ site.url }}/{{ video.folder }}/{{ worksheet | cgi_encode }}" data-toggle="tooltip" title="download {{ worksheet }}" rel="tag"><i class="fas fa-file-alt"></i>{{ worksheet }}</a>
              {% endfor %}
              {% for foldable in video.foldables %}
                <a href="{{ site.url }}/{{ video.folder }}/{{ foldable | cgi_encode }}" data-toggle="tooltip" title="download {{ foldable }}" rel="tag"><i class="fas fa-file-alt"></i>{{ foldable }}</a>
              {% endfor %}
              {% endif %}
              {% if video.tryit %}
                <a href="{{ video.tryit | cgi_encode }}" data-toggle="tooltip" title="Try it out on Desmos" rel="tag" target="_blank"><i class="fas fa-desktop"></i>Try it</a>
              {% endif %}
              {% if video.teacher %}
                <a href="{{ video.teacher | cgi_encode }}" data-toggle="tooltip" title="Create it for students on Desmos" rel="tag" target="_blank"><i class="fas fa-chalkboard-teacher"></i>Teacher Link</a>
              {% endif %}
              {% if video.posturl %}
                <a href="{{ video.posturl | cgi_encode }}" data-toggle="tooltip" title="See the blog post" rel="tag" target="_blank"><i class="far fa-newspaper"></i>Blog Post</a>
              {% endif %}
              {% if video.vidlinks %}
              {% for vid in video.vidlinks %}
                <a href="{{ vid.url }}" data-toggle="tooltip" target="_blank" rel="tag"><i class="fas fa-video"></i>{{ vid.name }}</a>
              {% endfor %}
              {% endif %}
              {% if video.patreon %}
                <a href="{{ video.patreon | cgi_encode }}" data-toggle="tooltip" title="Content only available to patrons" rel="tag" target="_blank"><i class="fab fa-patreon"></i>Patron-only content</a>
              {% endif %}
              {% if video.bonus %}
              {% for bonus in video.bonus %}
                <a href="{{ bonus.bonusurl | cgi_encode }}" data-toggle="tooltip" title="Bonus Content" rel="tag" target="_blank"><i class="{{ bonus.bonusicon }}"></i>{{ bonus.bonustext }}</a>
              {% endfor %}
              {% endif %}
            </div>
            <!-- /blog worksheets -->
          </div>
          <!-- /div col-sm-8 -->
        </div>
        {% endfor %}
      </section>
      {% endfor %}
  </div >
  <!-- /Row -->




</div>




  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
