---
layout: default
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Science Mom Videos</h2>
    </div>
</section>
<section id="main" class="wrapper style1">
    {% for post in site.posts %}
      {% if post.sciencemom %}
      {% if post.videofeature %}
        <div class="wrapper {% cycle 'style1', 'style2' %}"> 
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>               
            </header>       
            <section class="container">
		<style>
		html,body        {height:100%;}
		.vidwrapper      {width:100%; max-width: 600px; height:100%; margin:0 auto; background:#CCC; text-align: center}
		.h_iframe        {position:relative; padding-top: 56%;}
		.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
		</style>
		<p><div class="vidwrapper">
		    <div class="h_iframe">
			<iframe height="400" width="2" src="{{ post.videofeature }}" frameborder="0" allowfullscreen></iframe>
		    </div>
		</div></p>
            </section>
        </div>
      {% endif %}
      {% endif %}
    {% endfor %}
</section>
