<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="4u 6u(medium) 12u$(small)">
          <a href="sciencemom.html" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-map-o fa-stack-1x fa-inverse"></i>
            </span>
            <b>Science Mom Guides</b>
          </div>
          </a>
        </div>
    		<div class="4u 6u$(medium) 12u$(small)">
          <a href="videos.html" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
            </span>
            <b>Educational Videos</b>
          </div>
        </div>
    		<div class="4u$ 6u(medium) 12u$(small)">
          </a>
          <a href="activities.html" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
            </span>
            <b>Science Activities</b>
          </div>
          </a>
        </div>
    		<div class="4u 6u$(medium) 12u$(small)">
          <a href="{{ site.baseurl}}/frequently-asked-questions" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
            </span>
          <b>FAQ</b>
          </div>
          </a>
        </div>
    		<div class="4u 6u(medium) 12u$(small)">
          <a href="http://us532.agstorefront.com/uStore/Home" target="_blank" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
            </span>
            <b>Store</b>
          </div>
          </a>
        </div>
    		<div class="4u$ 6u$(medium) 12u$(small)">
          <a href="blog.html" style="display:block; text-decoration:none;">
          <div class="box">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <b>Blog</b>
          </div>
          </a>
    		</div>
    </div>
  </div>


    <div class="copyright">
      &copy; Jenny Ballif. All rights reserved.
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Scripts -->

  <script id="dsq-count-scr" src="//{{ site.owner.disqus_shortname }}.disqus.com/count.js" async></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="assets/js/skel.min.js" type="text/javascript"></script>
  <script src="assets/js/main.js" type="text/javascript"></script>
  <script src='assets/js/jquery-1.8.3.min.js' type="text/javascript"></script>
