<!-- Header -->
<header id="home">
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('./images/Banner.png');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Nav -->
  <nav id="nav" class="navbar nav-transparent">
    <div class="container">

      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a href="index.html">
            <img class="logo" src="images/HorizontalLogo.png" height="30" alt="logo">
            <img class="logo-alt" src="images/HorizontalLogoWhite.png" height="30" alt="logo">
          </a>
        </div>
        <!-- /Logo -->

        <!-- Collapse nav button -->
        <div class="nav-collapse">
          <span></span>
        </div>
        <!-- /Collapse nav button -->
      </div>

      <!--  Main navigation  -->
      <ul class="main-nav nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/frequently-asked-questions">About</a></li>
        <li class="has-dropdown"><a href="{{ site.url }}/videos.html">Videos</a>
          <ul class="dropdown">
            <li><a href="{{ site.url }}/videofeed.html">Courses</a></li>
            <li><a href="{{ site.url }}/videofeed.html#projects">Projects</a></li>
            <li><a href="{{ site.url }}/videofeed.html#nature">Nature</a></li>
            <li><a href="{{ site.url }}/videofeed.html#math">Math and Games</a></li>
            <li><a href="{{ site.url }}/videofeed.html#curiosity">Curiosities</a></li>
            <li><a href="{{ site.url }}/videofeed.html#archive">Archive</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}/printables.html">Printables</a></li>
        <li><a href="{{ site.url }}/speaking.html">Speaking</a></li>
      </ul>
      <!-- /Main navigation -->

    </div>
  </nav>
  <!-- /Nav -->

  <!-- home wrapper -->
  <div class="home-wrapper">
  	<div class="container">
  		<div class="row">

  			<!-- home content -->
  			<div class="col-md-10 col-md-offset-1">
  				<div class="home-content">
  					<h2 class="white-text">Engaging science activities for kids of all ages.</h2>
            <img src="images/Engaging.jpeg" alt="Science Mom holding a mic." style="max-width: 90%;margin: auto;">
  <!--          <a href="https://youtube.com/sciencemom" target="_blank" rel="noopener">
  					   <button class="white-btn"><i class="fab fa-youtube-square"></i> YouTube</button>
            </a>
            <a href="https://www.patreon.com/ScienceMom" target="_blank" rel="noopener">
  					   <button class="main-btn"><i class="fab fa-patreon"></i> Patreon</button>
            </a>
-->
  				</div>
  			</div>
  			<!-- /home content -->

  		</div>
      
  	</div>
  </div>
  <!-- /home wrapper -->
</header>
<!-- /Header -->
