
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <noscript>
    <link rel="shortcut icon" href="images/favicon-16x16.png?" type="image/x-icon">
    <link rel="icon" href="images/favicon-16x16.png?" type="image/x-icon">
  </noscript>

  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico?">
  <title>Science Mom</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/flaticon.css" />
  <script src="https://kit.fontawesome.com/ed79a3622b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/themify-icons.css" />
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WD6RCGX');</script>
  <!-- End Google Tag Manager -->

  <!-- Pinterest -->
  	<meta name="p:domain_verify" content="bdf9782323ea1993422be05059fa5ea3"/>
  <!-- /Pinterest -->

    <!-- Twitter cards metadatas -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@JennyBallif">
    <meta name="twitter:creator" content="@JennyBallif">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.imagefeature %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.folder }}/{{ page.imagefeature }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/fbsquare.jpg">
    {% endif %}

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}" property="article:author">
    {% endif %}
    {% if page.fbimage %}
      <meta content="{{ site.url }}/images/{{ page.folder }}/{{ page.fbimage }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/ScienceMom_Logo_RGB.png" property="og:image">
    {% endif %}

<!-- meta data to show facebook we own this site. -->
<meta name="facebook-domain-verification" content="ow5mwcv2f5vodfv8d88hj4l8yg2rdv" />

  <!-- GDPR compliance https://github.com/manucaralmo/GlowCookies -->
  <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@1.6.1/v1/cookiesGlow.js" async></script>
  <script>
      var AnalyticsCode = "UA-92400730-2"; // Your Analytics tracking code (Optional)
      var FacebookPixelCode = "381390773146931"; // Your Facebook Pixel code (Optional)
      var HotjarTrackingCode = ""; // Your Hotjar id (Optional)
      var linkHref = "https://science.mom/cookies"; // Your Cookies Policy link
      // texts
      var btn1Text = "Accept cookies";
      var btn2Text = "Disable";
      var bannerDescription = "We use cookies and third-party cookies to personalize content and to analyze web traffic.";
      var linkTexto = "Learn more about our privacy policy";
      var manageText = "Privacy Policy";
      var bannerPosition = "left"
  </script>

    {% seo %}

</head>
