<!--================ Start Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <div class="search_input" id="search_input_box">
      <div class="container">
        <form class="d-flex justify-content-between" method="" action="">
          <input
            type="text"
            class="form-control"
            id="search_input"
            placeholder="Search Here"
          />
          <button type="submit" class="btn"></button>
          <span
            class="ti-close"
            id="close_search"
            title="Close Search"
          ></span>
        </form>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html"
          ><img src="images/HorizontalLogo.png" height="30" alt="logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav ml-auto">
            <!--
            <li class="nav-item submenu dropdown">
              <a
                href="videos.html"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >VIDEOS</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="courses.html">COURSES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="math.html">MATH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="projects.html">PROJECTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="nature.html">NATURE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="songs.html">SONGS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="misc.html">MISCELLANEOUS</a>
                </li>
              </ul>
            </li>
            -->
            <li class="nav-item {% if page.title == "Courses" %}active {% endif %}">
              <a class="nav-link" href="{{ site.url }}/courses.html">COURSES</a>
            </li>
            <li class="nav-item {% if page.title == "Blog" %}active {% endif %}">
              <a class="nav-link" href="{{ site.url }}/blog.html">ACTIVITIES</a>
            </li>
            <li class="nav-item {% if page.title == "Videos" %}active {% endif %}">
              <a class="nav-link" href="{{ site.url }}/videos.html">VIDEOS</a>
            </li>
            <li class="nav-item {% if page.title == "About" %}active {% endif %}">
              <a class="nav-link" href="{{ site.url }}/about.html">ABOUT</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="https://patreon.com/sciencemom" target="_blank">JOIN US</a>
            </li>
            <li class="nav-item {% if page.title == "Store" %}active {% endif %}">
              <a class="nav-link" href="https://science-mom.myspreadshop.com/" target="_blank">STORE</a>
            </li>
            -->
            <li class="nav-item {% if page.title == "Contact" %}active {% endif %}">
              <a class="nav-link" href="{{ site.url }}/contact.html">CONTACT</a>
            </li>
            <!--
            <li class="nav-item">
              <a href="#" class="nav-link search" id="search">
                <i class="ti-search"></i>
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================ End Header Menu Area =================-->
