<!-- Footer -->
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-4">
        <h2 class="mb-4">Contact</h2>
        <p class="m-0">
          <a href="tel:+246 - 542 550 5462" class="text-white">+246 - 542 550 5462</a>
        </p>
        <p>
          <a href="mailto:info@pingendo.com" class="text-white">info@pingendo.com</a>
        </p>
      </div>
      <div class="col-md-4 p-4">
        <h2 class="mb-4">Location</h2>
        <p>
          <a href="https://www.google.it/maps" target="_blank" class="text-white">23 Fake Street
            <br>Seattle, WA 00000</a>
        </p>
      </div>
      <div class="col-md-4 p-4">
        <h2 class="mb-4">Openings</h2>
        <p>11:00 - 15:00 &amp; 19:00 - 00:00 Tue/Fri
          <br>11:00 - 15:00 &amp; 19:00 - 02:00 Sat/Sun</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-muted">© Copyright 2018 Pingendo - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
