<!-- Navbar -->
  <nav class="navbar-expand-md navbar-dark bg-dark navbar fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://jennyballif.com">
        <img src="images/HorizontalLogoWhite.png" height="20" alt="">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/activities.html">Science Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/videos.html">Educational Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/frequently-asked-questions">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.amazon.com/Jenny-Ballif/e/B078852KYR/ref=sr_ntt_srch_lnk_1?qid=1513284606&sr=8-1" target="_blank">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/support.html">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/speaking.html">Appearances</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
