<div class="periodic">
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.001.jpeg" alt="Patron 1" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.002.jpeg" alt="Patron 2" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.003.jpeg" alt="Patron 3" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.004.jpeg" alt="Patron 4" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.005.jpeg" alt="Patron 5" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.006.jpeg" alt="Patron 6" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.007.jpeg" alt="Patron 7" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.008.jpeg" alt="Patron 8" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.009.jpeg" alt="Patron 9" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.010.jpeg" alt="Patron 10" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.011.jpeg" alt="Patron 11" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.012.jpeg" alt="Patron 12" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.013.jpeg" alt="Patron 13" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.014.jpeg" alt="Patron 14" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.015.jpeg" alt="Patron 15" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.016.jpeg" alt="Patron 16" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.017.jpeg" alt="Patron 17" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.018.jpeg" alt="Patron 18" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.019.jpeg" alt="Patron 19" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.020.jpeg" alt="Patron 20" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.021.jpeg" alt="Patron 21" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.022.jpeg" alt="Patron 22" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.023.jpeg" alt="Patron 23" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.024.jpeg" alt="Patron 24" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.025.jpeg" alt="Patron 25" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.026.jpeg" alt="Patron 26" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.027.jpeg" alt="Patron 27" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.028.jpeg" alt="Patron 28" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.029.jpeg" alt="Patron 29" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.030.jpeg" alt="Patron 30" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.031.jpeg" alt="Patron 31" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.032.jpeg" alt="Patron 32" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.033.jpeg" alt="Patron 33" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.034.jpeg" alt="Patron 34" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.035.jpeg" alt="Patron 35" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.036.jpeg" alt="Patron 36" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.037.jpeg" alt="Patron 37" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.038.jpeg" alt="Patron 38" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.039.jpeg" alt="Patron 39" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.040.jpeg" alt="Patron 40" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.041.jpeg" alt="Patron 41" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.042.jpeg" alt="Patron 42" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.043.jpeg" alt="Patron 43" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.044.jpeg" alt="Patron 44" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.045.jpeg" alt="Patron 45" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.046.jpeg" alt="Patron 46" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.047.jpeg" alt="Patron 47" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.048.jpeg" alt="Patron 48" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.049.jpeg" alt="Patron 49" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.050.jpeg" alt="Patron 50" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.051.jpeg" alt="Patron 51" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.052.jpeg" alt="Patron 52" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.053.jpeg" alt="Patron 53" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.054.jpeg" alt="Patron 54" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.055.jpeg" alt="Patron 55" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.056.jpeg" alt="Patron 56" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.072.jpeg" alt="Patron 72" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.073.jpeg" alt="Patron 73" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.074.jpeg" alt="Patron 74" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.075.jpeg" alt="Patron 75" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.076.jpeg" alt="Patron 76" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.077.jpeg" alt="Patron 77" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.078.jpeg" alt="Patron 78" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.079.jpeg" alt="Patron 79" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.080.jpeg" alt="Patron 80" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.081.jpeg" alt="Patron 81" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.082.jpeg" alt="Patron 82" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.083.jpeg" alt="Patron 83" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.084.jpeg" alt="Patron 84" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.085.jpeg" alt="Patron 85" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.086.jpeg" alt="Patron 86" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.087.jpeg" alt="Patron 87" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.088.jpeg" alt="Patron 88" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.104.jpeg" alt="Patron 104" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.105.jpeg" alt="Patron 105" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.106.jpeg" alt="Patron 106" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.107.jpeg" alt="Patron 107" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.108.jpeg" alt="Patron 108" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.109.jpeg" alt="Patron 109" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.110.jpeg" alt="Patron 110" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.111.jpeg" alt="Patron 111" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.112.jpeg" alt="Patron 112" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.113.jpeg" alt="Patron 113" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.114.jpeg" alt="Patron 114" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.115.jpeg" alt="Patron 115" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.116.jpeg" alt="Patron 116" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.117.jpeg" alt="Patron 117" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.118.jpeg" alt="Patron 118" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row"><br /></div>
  <div class="periodic-row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.057.jpeg" alt="Patron 57" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.058.jpeg" alt="Patron 58" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.059.jpeg" alt="Patron 59" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.060.jpeg" alt="Patron 60" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.061.jpeg" alt="Patron 61" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.062.jpeg" alt="Patron 62" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.063.jpeg" alt="Patron 63" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.064.jpeg" alt="Patron 64" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.065.jpeg" alt="Patron 65" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.066.jpeg" alt="Patron 66" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.067.jpeg" alt="Patron 67" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.068.jpeg" alt="Patron 68" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.069.jpeg" alt="Patron 69" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.070.jpeg" alt="Patron 70" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.071.jpeg" alt="Patron 71" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div class="periodic-row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.089.jpeg" alt="Patron 89" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.090.jpeg" alt="Patron 90" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.091.jpeg" alt="Patron 91" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.092.jpeg" alt="Patron 92" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.093.jpeg" alt="Patron 93" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.094.jpeg" alt="Patron 94" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.095.jpeg" alt="Patron 95" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.096.jpeg" alt="Patron 96" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.097.jpeg" alt="Patron 97" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.098.jpeg" alt="Patron 98" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.099.jpeg" alt="Patron 99" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.100.jpeg" alt="Patron 100" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.101.jpeg" alt="Patron 101" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.102.jpeg" alt="Patron 102" style="width:100%; height:100%;">
      </div>
    </div>
    <div class="cell">
      <div class="element">
        <img class="lazy" data-src="/images/PeriodicTable/patron.103.jpeg" alt="Patron 103" style="width:100%; height:100%;">
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
