

{% if post.experiment4title %}
<a href="{{ site.url }}{{ post.url }}" style="text-decoration:none;">
<div>
<table class="rwd-table">
  <caption>{{ post.experiment4title }}</caption>
  <tr>
    <th>Time: {{ post.experiment4time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ post.experiment4time }}"><img src="images/{{ post.folder }}/{{ post.experiment4image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ post.experiment4supplies }}</td>
    <td data-th="Concepts">{{ post.experiment4concepts }}</td>
    <td data-th="Guide"><img src="images/{{ post.folder }}/{{ post.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
</a>
{% endif %}

{% if page.experiment4 %}
<div>
<table class="rwd-table">
  <caption>{{ page.experiment4title }}</caption>
  <tr>
    <th>Time: {{ page.experiment4time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ page.experiment4time }}"><img src="images/{{ page.folder }}/{{ page.experiment4image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ page.experiment4supplies }}</td>
    <td data-th="Concepts">{{ page.experiment4concepts }}</td>
    <td data-th="Guide"><img src="images/{{ page.folder }}/{{ page.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
{% endif %}


<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
