

{% if post.experiment3title %}
<a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration:none;">
<div>
<table class="rwd-table">
  <caption>{{ post.experiment3title }}</caption>
  <tr>
    <th>Time: {{ post.experiment3time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ post.experiment3time }}"><img src="images/{{ post.folder }}/{{ post.experiment3image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ post.experiment3supplies }}</td>
    <td data-th="Concepts">{{ post.experiment3concepts }}</td>
    <td data-th="Guide"><img src="images/{{ post.folder }}/{{ post.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
</a>
{% endif %}

{% if page.experiment3 %}
<div>
<table class="rwd-table">
  <caption>{{ page.experiment3title }}</caption>
  <tr>
    <th>Time: {{ page.experiment3time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ page.experiment3time }}"><img src="images/{{ page.folder }}/{{ page.experiment3image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ page.experiment3supplies }}</td>
    <td data-th="Concepts">{{ page.experiment3concepts }}</td>
    <td data-th="Guide"><img src="images/{{ page.folder }}/{{ page.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
{% endif %}


<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

