

{% if post.experiment1title %}
<a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration:none;">
<div>
<table class="rwd-table">
  <caption>{{ post.experiment1title }}</caption>
  <tr>
    <th>Time: {{ post.experiment1time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ post.experiment1time }}"><img src="images/{{ post.folder }}/{{ post.experiment1image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ post.experiment1supplies }}</td>
    <td data-th="Concepts">{{ post.experiment1concepts }}</td>
    <td data-th="Guide"><img src="images/{{ post.folder }}/{{ post.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
</a>
{% endif %}

{% if page.experiment1 %}
<div>
<table class="rwd-table">
  <caption>{{ page.experiment1title }}</caption>
  <tr>
    <th>Time: {{ page.experiment1time }}</th>
    <th>Supplies</th>
    <th>Concepts</th>
    <th>Guide</th>
  </tr>
  <tr>
    <td data-th="Time: {{ page.experiment1time }}"><img src="images/{{ page.folder }}/{{ page.experiment1image }}" alt="Experiment" width="150px" style="float: right;"></td>
    <td data-th="Supplies">{{ page.experiment1supplies }}</td>
    <td data-th="Concepts">{{ page.experiment1concepts }}</td>
    <td data-th="Guide"><img src="images/{{ page.folder }}/{{ page.sciencemomguideimage }}" alt="Science Mom Guide" width="150px" style="float: right;"></td>
  </tr>
</table>
</div>
{% endif %}
