<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat | Codrop | Landing Page App Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body>
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right light" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default" src="media/logo-light.svg" alt="logo" />
                    <img class="logo-retina" src="media/logo-light.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul>
                    <li>
                        <a href="#overview">Overview</a>
                    </li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a href="#">Sites</a>
                                <ul>
                                    <li><a href="index-saas.html">Saas</a></li>
                                    <li><a href="index-fintech.html">Fintech</a></li>
                                    <li><a href="index-sport.html">Sport</a></li>
                                    <li><a href="index-food.html">Food</a></li>
                                    <li><a href="index-chat.html">Chat</a></li>
                                    <li><a href="index-music.html">Music</a></li>
                                    <li><a href="index-photo.html">Photo</a></li>
                                    <li><a href="index-travel.html">Travel</a></li>
                                    <li><a href="index-news.html">News</a></li>
                                    <li><a href="index.html">Intro</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="careers.html">Careers</a></li>
                                    <li><a href="faq.html">Faqs</a></li>
                                    <li><a href="customers.html">Success stories</a></li>
                                    <li><a href="pricing-1.html">Pricing one</a></li>
                                    <li><a href="pricing-2.html">Pricing two</a></li>
                                    <li><a href="team.html">Team</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog-1.html">Blog one</a></li>
                                    <li><a href="blog-2.html">Blog two</a></li>
                                    <li><a href="post.html">Post</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Contacts</a>
                                <ul>
                                    <li><a href="contacts-1.html">Contacts one</a></li>
                                    <li><a href="contacts-2.html">Contacts two</a></li>
                                    <li><a href="contacts-3.html">Contacts three</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="menu-custom-area">
                        <a class="btn btn-border btn-login btn-xs" href="#">Login</a>
                        <a class="btn btn-xs btn-circle" href="#">Sign up</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <main>
        <section class="section-image light section-bottom-layer" style="background-image:url(media/bg.svg)">
            <div class="container">
                <hr class="space" />
                <div class="row">
                    <div class="col-lg-6" data-anima="fade-in" data-time="1000">
                        <hr class="space-lg hidden-md" />
                        <h1>
                            The cheap, fast way to chat with your apps.
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboriso.
                        </p>
                        <a href="#" class="btn btn-sm btn-circle btn-border text-bold shadow-1 full-width-sm">Purchase now</a><span class="space"></span>
                        <a href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top" class="btn-text btn-video lightbox hidden-sm">View video</a>
                        <hr class="space-xs" />
                    </div>
                    <div class="col-lg-6" data-anima="fade-bottom" data-time="1000">
                        <img src="media/phone-1.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section id="overview" class="section-base">
            <div class="container">
                <hr class="space hidden-md" />
                <div class="row">
                    <div class="col-lg-6">
                        <hr class="space-xs" />
                        <ul class="icon-list icon-circle icon-list-11">
                            <li>Lorem ipsum dolor sit ameteminim veniam amoartes.</li>
                            <li>Lorem exercitation ipsum dolor sittakimata amete magna doloros.</li>
                            <li>Aullamco ipsum dolor sit amete sanctus artes.</li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation tempore.</li>
                            <li>Aullamco ipsum dolor sitare amete magna magna.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-md-first">
                        <h2>Global support in a<br />range of different languages.</h2>
                        <p>
                            Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                        </p>
                    </div>
                </div>
                <hr class="space" />
                <div class="grid-list" data-columns="4" data-columns-xs="1" data-anima="fade-bottom" data-timeline="asc" data-timeline-time="300" data-time="1000">
                    <div class="grid-box">
                        <div class="grid-item anima">
                            <div class="cnt-box cnt-box-top-icon">
                                <i class="im-checked-user"></i>
                                <div class="caption">
                                    <h2>Creative community</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet ullamco labor consenso.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item anima">
                            <div class="cnt-box cnt-box-top-icon">
                                <i class="im-leafs"></i>
                                <div class="caption">
                                    <h2>Eco friendly</h2>
                                    <p>
                                        Lorem ipsum dolor sitamere ullamacone laboret presio.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item anima">
                            <div class="cnt-box cnt-box-top-icon">
                                <i class="im-globe-2"></i>
                                <div class="caption">
                                    <h2>Global support</h2>
                                    <p>
                                        Lorem ipsum dolor sita ullamco labormet conse orto.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item anima">
                            <div class="cnt-box cnt-box-top-icon">
                                <i class="im-chemical-3"></i>
                                <div class="caption">
                                    <h2>Lot's of features</h2>
                                    <p>
                                        Lorem ipsum dolor sita ullamco labormet conse nobile.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="section-base section-color">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <img class="margin-23" src="media/phone-2.png" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <h2>Start many conversations <br />with your buddies in seconds.</h2>
                        <p>
                            Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sit amete sanctus artequis nostrud exercitation ullamco sea tassa.
                        </p>
                        <a href="#" class="btn-text">Explore services</a>
                    </div>
                </div>
                <hr class="space-sm" />
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <hr class="space-sm visible-md" />
                        <h2>Photo and video library <br />to collect your best moments.</h2>
                        <p>
                            Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sit amete sanctus artequis nostrud exercitation ullamco sea tassa.
                        </p>
                        <a href="#" class="btn-text">Explore services</a>
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <img class="margin-23" src="media/phone-3.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section-video light align-center">
            <video autoplay loop muted playsinline poster="http://via.placeholder.com/1920x1080">
                <source src="media/video.mp4" type="video/mp4">
            </video>
            <div class="container">
                <h2>Don't wait download our app now.</h2>
                <p class="width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" />
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter counter-icon">
                            <div>
                                <h3>Downloads in last year</h3>
                                <div class="value text-lg">
                                    <span data-to="150" data-speed="3000">150</span>
                                    <span>K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter counter-icon">
                            <div>
                                <h3>Positive reviews</h3>
                                <div class="value text-lg">
                                    <span data-to="10" data-speed="3000">10</span>
                                    <span>K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter counter-icon">
                            <div>
                                <h3>Active users</h3>
                                <div class="value text-lg">
                                    <span data-to="70" data-speed="3000">70</span>
                                    <span>K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter counter-icon">
                            <div>
                                <h3>Daily page views</h3>
                                <div class="value text-lg">
                                    <span data-to="300" data-speed="3000">300</span>
                                    <span>K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="section-base section-color">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <img class="margin-23" src="media/phone-5.png" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <h2>Organize friends and<br />groups from the contacts area.</h2>
                        <p>
                            Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sit amete sanctus artequis nostrud exercitation ullamco sea tassa.
                        </p>
                        <a href="#" class="btn-text">Explore services</a>
                    </div>
                </div>
                <hr class="space-sm" />
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <hr class="space-sm visible-md" />
                        <h2>Trusted all over the world<br />by a wide range of companies.</h2>
                        <p>
                            Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sit amete sanctus artequis nostrud exercitation ullamco sea tassa.
                        </p>
                        <a href="#" class="btn-text">Explore services</a>
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <img class="margin-23" src="media/phone-4.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section-image align-center light" style="background-image:url(media/bg.svg)">
            <div class="container">
                <h2>Don't wait download our app now.</h2>
                <p class="width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <a href="#" class="btn btn-sm btn-circle btn-icon btn-border"><i class="im-apple-bite"></i>App store</a>
                <a href="#" class="btn btn-sm btn-circle btn-icon btn-border"><i class="im-android"></i>App store</a>
            </div>
        </section>
        <section id="reviews" class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Loved all over the world<br />by a wide range of costumers.</h2>
                    </div>
                    <div class="col-lg-6 align-right align-left-md">
                        <a href="#" class="btn-text">All reviews</a>
                    </div>
                </div>
                <hr class="space" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cnt-box cnt-box-testimonials-bubble rating-5">
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore artisio meto.
                            </p>
                            <div class="thumb-bar">
                                <img src="http://via.placeholder.com/450x450" alt="" />
                                <p>
                                    <span>Robert Junior</span>
                                    <span>Slack</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cnt-box cnt-box-testimonials-bubble rating-5">
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicinge stratone elito sed do eiusmod tempore.
                            </p>
                            <div class="thumb-bar">
                                <img src="http://via.placeholder.com/450x450" alt="" />
                                <p>
                                    <span>Brad Manson</span>
                                    <span>Google</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cnt-box cnt-box-testimonials-bubble rating-4">
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore eclessio.
                            </p>
                            <div class="thumb-bar">
                                <img src="http://via.placeholder.com/450x450" alt="" />
                                <p>
                                    <span>Jessica Poster</span>
                                    <span>Facebook</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">In what countries is the app available?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    When the earnings will arrive?
                                </a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Where can I contact the support team?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">How does the summary dial work?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Exporting my projects and restore?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Can I get the money back for a refund?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-md-first">
                        <h2>All your questsions are<br />very important to us.</h2>
                        <hr class="space space-20" />
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="gallery" class="section-base section-full-width section-color align-center">
            <div class="container">
                <h2>Don't wait download our app now.</h2>
                <p class="width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" />
                <ul class="slider" data-options="type:carousel,perView:5,perViewSm:2,perViewXs:1,focusAt:center,gap:0,nav:true,controls:out,autoplay:3000">
                    <li>
                        <img src="media/phone-screen-1.png" alt="" />
                    </li>
                    <li>
                        <img src="media/phone-screen-2.png" alt="" />
                    </li>
                    <li>
                        <img src="media/phone-screen-3.png" alt="" />
                    </li>
                    <li>
                        <img src="media/phone-screen-4.png" alt="" />
                    </li>
                    <li>
                        <img src="media/phone-screen-5.png" alt="" />
                    </li>
                    <li>
                        <img src="media/phone-screen-6.png" alt="" />
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-base align-center">
            <div class="container">
                <h2>Subscribe now.</h2>
                <div class="width-650">
                    <p>Sare nostrud exercitation ullamco seitatio.</p>
                    <hr class="space-sm" />
                    <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax form-inline align-center" method="post" data-email="example@domain.com">
                        <div class="row">
                            <div class="col-lg-4">
                                <input id="name" name="name" placeholder="Eame and surname" type="text" class="input-text" required>
                            </div>
                            <div class="col-lg-4">
                                <input id="email" name="email" placeholder="Email" type="email" class="input-text" required>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-sm" type="submit">Subscribe</button>
                            </div>
                        </div>
                        <div class="form-checkbox">
                            <input type="checkbox" id="check" name="check" value="check" required>
                            <label for="check">You accept the terms of service and the privacy policy</label>
                        </div>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company and team</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Company details and team</a>
                            </li>
                            <li>
                                <a href="#">News and blog</a>
                            </li>
                            <li>
                                <a href="#">Press area</a>
                            </li>
                            <li>
                                <a href="#">Affiliates and marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Learn more</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Apps stores</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Privacy and terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Follow us</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="linkedin"><i class="icon-linkedin"></i></a>
                        <a class="youtube"><i class="icon-youtube"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© Codrop LTD 2019. Codrop is a powerful Landing Page App Template built with <a target="_blank" href="https://themekit.dev/code/">Themekit</a> by the <a target="_blank" href="https://schiocco.com/">Schiocco</a> Team. </span>
                <span><img src="media/logo-light.svg" /></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/tab-accordion.js"></script>
        <script src="themekit/scripts/imagesloaded.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="media/custom.js"></script>
    </footer>
</body>
</html>