<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fintech | Codrop | Landing Page App Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body>
    <div id="preloader"></div>

    <main>
        <section class="section-image section-full-width-right light section-bottom-layer" style="background-image:url(media/bg.svg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-anima="fade-in" data-time="1000">
                        <hr class="space" />
                        <h1>
                            Middle School Physics
                        </h1>
                        <p>
                            Are you a parent looking for an entertaining, engaging, and 
                            high-quality physics curriculum for your middle schoolers? Look no further! 
                            Discover the exciting world of physics with Science Mom & Math Dad!
                        </p>
                        <a href="#" class="btn btn-sm btn-circle shadow-1 align-center full-width-sm">Purchase now</a><span class="space"></span>
                        <hr class="space-sm" />
                        <a href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top" class="btn-text btn-video lightbox">View video</a>                    
                    </div>
                    <div class="col-lg-6 hidden-md">
                        <div class="align-center">
                        <img src="media/PhysicsParachute.svg" alt="A stick figure sliding on a sled" style="max-width: 80%; width: 250px;" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8" data-anima="fade-left" data-time="1000">
                        <h2>Middle School Physics</h2>
                        <ul class="icon-list icon-circle">
                            <li>Gain a solid understanding of the scientific method and the history of physics.</li>
                            <li>Learn the key ideas of the Laws of Motion and their application in your day-to-day life.</li>
                            <li>Learn how to complete a lab assignment as you collect and analyze data.</li>
                            <li>Demonstrate your mastery of the concepts of physics through quizzes and practice problems.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-6" data-anima="fade-right" data-time="1000">
                        <img  src="media/JenPresents.png" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-6" data-anima="fade-left" data-time="1000">
                        <hr class="space-sm" />
                        <img src="media/SergeArmsFolded.png" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-8" data-anima="fade-right" data-time="1000">
                        <h2>Prepare for high school physics!</h2>
                        <p>
                            Join Science Mom and Math Dad for a journey through physics that covers the laws of motion, forces, and gravity!
                        </p>
                        <ul class="icon-list icon-circle">
                            <li>Participate in the live sessions or complete the course at your own pace.</li>
                            <li>Secular curriculum covering motion, energy, and forces</li>
                            <li>Open-and-go design with 39 video lessons</li>
                            <li>The course comes with printable notes pages and practice problems designed to reinforce the ideas of each lesson.</li>
                            <li>Students can participate in the polls in both the live and recorded lessons.</li>
                            <li>Complete 12 projects and labs.</li>
                            <li>One price for the whole family. Long term access.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-image align-center light" style="background-image:url(media/bg-gray.svg)">
            <div class="container align-center">
                <div class="row">
                    <div class="col-lg-4 col-md-4 hidden-sm" data-anima="fade-left" data-time="1000">
                        <img class="margin-23" src="https://i.imgur.com/qSlYJvM.png" alt="" />
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="#" class="btn btn-sm btn-circle shadow-1 align-center full-width-sm">Enroll in Physics</a><span class="space"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 hidden-sm" data-anima="fade-right" data-time="1000">
                        <img class="margin-23" src="https://i.imgur.com/QcxNjAx.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h2>All your questsions are<br />very important to us and help us grow better.</h2>
                    </div>
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">In what countries is the app available?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    When the earnings will arrive?
                                </a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Where can I contact the support team?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">How does the summary dial work?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Exporting my projects and restore?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Can I get the money back for a refund?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="section-base section-color">
            <div class="container" data-anima="fade-bottom" data-time="1000">
                <h2 class="align-center">A large range of services.</h2>
                <p class="align-center width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" />
                <div class="grid-list" data-columns="4" data-columns-md="3" data-columns-sm="2" data-columns-xs="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-5.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Validation and more</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur sed do.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-6.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Eco solutions</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet codo eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-7.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Fast payments</h2>
                                    <span class="extra-field">Promotion</span>
                                    <p>
                                        Lorem ipsum dolor sitamet consectetu tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-8.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Premium support</h2>
                                    <span class="extra-field">Promotion</span>
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-9.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Validation and more</h2>
                                    <p>
                                        Dratto ipsum dolor sitametare sedanone do eiusmo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-10.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Real-time charts</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur se tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-11.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Form developing</h2>
                                    <p>
                                        Ipsum areste dolor sitamet consecte artiso mellone.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top">
                                <a href="#" class="img-box"><img src="media/saas/icon-12.svg" alt="" /></a>
                                <div class="caption">
                                    <h2>Convergence tools</h2>
                                    <p>
                                        Artesta ipsum dolor sitamet consectetur sed do eiusmo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    <div class="list-pagination">
                        <ul class="pagination align-center" data-page-items="8" data-pagination-anima="fade-bottom"></ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:3,perViewMd:2,perViewSm:1,perViewXs:1,gap:60,autoplay:3000">
                    <li>
                        <img src="media/physics-icon1.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon2.svg" alt="" />
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-side-icon">
                            <i class="im-paper-plane"></i>
                            <div class="caption">
                                <p>
                                    Secular curriculum covering motion, energy, and forces
                                </p>
                                <a class="btn-text" href="#">Button</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="media/physics-icon3.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon4.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon5.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon6.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon7.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon8.svg" alt="" />
                    </li>
                    <li>
                        <img src="media/physics-icon9.svg" alt="" />
                    </li>
                </ul>
                <hr class="space-lg" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="grid-list" data-columns="2" data-columns-xs="1">
                            <div class="grid-box">
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-top-icon boxed">
                                        <i class="im-globe"></i>
                                        <div class="caption">
                                            <h2>Global support</h2>
                                            <p>
                                                Lorem ipsum dolor sitamet consect sed do eiusmod tempore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="cnt-box cnt-box-top-icon boxed">
                                        <i class="im-bar-chart4"></i>
                                        <div class="caption">
                                            <h2>Rich features</h2>
                                            <p>
                                                Lorem ipsum dolor sitamet consect sed do eiusmod tempore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <hr class="space-sm visible-md" />
                        <h2>Global support in a<br />range of different languages.</h2>
                        <p>
                            Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco  sea takimata sanctus eslaboriso.
                        </p>
                        <a href="#" class="btn-text">Explore features</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="overview" class="section-base section-color section-full-width-left section-bottom-layer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="media/iso-2.png" alt="" />
                    </div>
                    <div class="col-lg-6" data-anima="fade-right" data-time="1000">
                        <hr class="space" />
                        <h2>Trusted all over the world<br />by a wide range of companies.</h2>
                        <p>
                            Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco  sea takimata sanctus eslaboriso.
                        </p>
                        <a href="#" class="btn btn-circle btn-sm">Explore services</a>
                        <hr class="space hidden-md" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h2>All your questsions are<br />very important to us and help us grow better.</h2>
                    </div>
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">In what countries is the app available?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    When the earnings will arrive?
                                </a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Where can I contact the support team?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">How does the summary dial work?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Exporting my projects and restore?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Can I get the money back for a refund?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="section-base section-color">
            <div class="container">
                <h2 class="align-center">A large range of features.</h2>
                <p class="align-center width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" />
                <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-bar-chart4"></i>
                                <div class="caption">
                                    <h2>Real time chars</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-cool-guy"></i>
                                <div class="caption">
                                    <h2>Premium support</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-laptop-3"></i>
                                <div class="caption">
                                    <h2>Cross platform</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-lock-user"></i>
                                <div class="caption">
                                    <h2>Security features</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-shuffle-4"></i>
                                <div class="caption">
                                    <h2>Business network</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-top-icon boxed">
                                <i class="im-security-settings"></i>
                                <div class="caption">
                                    <h2>Validation</h2>
                                    <p>
                                        Lorem ipsum dolor sitamet consect  sed do eiusmod tempore.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-image align-center light" style="background-image:url(media/bg.svg)">
            <div class="container">
                <h2>A solution for every level.</h2>
                <p class="width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" />
                <a href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" class="btn-video lightbox" data-lightbox-anima="fade-top"></a>
            </div>
        </section>
        <section id="reviews" class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-md-last">
                        <ul class="slider controls-bottom-right" data-options="type:carousel,arrows:true,nav:true,perView:3,perViewSm:1,controls:out">
                            <li>
                                <div class="cnt-box cnt-box-testimonials rating-5">
                                    <img src="http://via.placeholder.com/450x450" alt="" />
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                                    </p>
                                    <p class="testimonial-info">
                                        <span>Robert Junior</span>
                                        <span>Slack</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-testimonials rating-5">
                                    <img src="http://via.placeholder.com/450x450" alt="" />
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                                    </p>
                                    <p class="testimonial-info">
                                        <span>Jessica Poster</span>
                                        <span>Facebook</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-testimonials rating-4">
                                    <img src="http://via.placeholder.com/450x450" alt="" />
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                                    </p>
                                    <p class="testimonial-info">
                                        <span>Brad Manson</span>
                                        <span>Google</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-testimonials rating-5">
                                    <img src="http://via.placeholder.com/450x450" alt="" />
                                    <p>
                                        Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                                    </p>
                                    <p class="testimonial-info">
                                        <span>Richard Pall</span>
                                        <span>Microsoft</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-md-first">
                        <h2>Worldwide awards<br />and the best customer satisfaction ratio.</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color section-full-width-right section-bottom-layer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <hr class="space" />
                        <h2>Our numbers do not lie<br />become part of the revolution now.</h2>
                        <p>
                            Lorem ipsum dolor sit ameta no sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostruo.
                        </p>
                        <table class="table table-grid table-border no-padding-y align-left table-auto">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="counter counter-horizontal counter-icon">
                                            <div>
                                                <h3>Downloads</h3>
                                                <div class="value text-lg">
                                                    <span data-to="150" data-speed="3000">150</span>
                                                    <span>K</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="counter counter-horizontal counter-icon">
                                            <div>
                                                <h3>Positive reviews</h3>
                                                <div class="value text-lg">
                                                    <span data-to="10" data-speed="3000">10</span>
                                                    <span>K</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-sm btn-icon btn-circle btn-border"><i class="im-apple-bite"></i>App store</a>
                        <a href="#" class="btn btn-sm btn-icon btn-circle btn-border"><i class="im-android"></i>App store</a>
                        <hr class="space" />
                    </div>
                    <div class="col-lg-6">
                        <img class="width-min-835" src="media/iso-3.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section id="pricing" class="section-base">
            <div class="container">
                <h2 class="align-center">The best prices on the market.</h2>
                <p class="align-center width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
                </p>
                <hr class="space" /><hr class="space-xs" />
                <div class="row" data-anima="fade-bottom" data-time="1000" data-timeline="asc">
                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table">
                            <div class="top-area">
                                <h2>Personal plan</h2>
                                <div class="price">$<span>19</span></div>
                                <p>Per month</p>
                            </div>
                            <ul>
                                <li>1000 messages</li>
                                <li>15GB storage</li>
                                <li>10 projects</li>
                                <li>Premium support</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-circle btn-sm btn-border" href="#">Order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table pricing-table-big">
                            <div class="top-area">
                                <h2>Business plan</h2>
                                <div class="price">$<span>49</span></div>
                                <p>Per month</p>
                            </div>
                            <ul>
                                <li>2000 messages</li>
                                <li>20GB storage</li>
                                <li>50 projects</li>
                                <li>Premium support</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-circle btn-sm btn-border" href="#">Order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table">
                            <div class="top-area">
                                <h2>Enterprise plan</h2>
                                <div class="price">$<span>89</span></div>
                                <p>Per month</p>
                            </div>
                            <ul>
                                <li>8000 messages</li>
                                <li>30GB storage</li>
                                <li>100 projects</li>
                                <li>Premium support</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-circle btn-sm btn-border" href="#">Order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-md-last">
                        <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax form-inline" method="post" data-email="example@domain.com">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Type your email</p>
                                    <input id="email" name="email" placeholder="" type="email" class="input-text" required>
                                </div>
                                <div class="col-lg-4">
                                    <p></p>
                                    <button class="btn btn-sm" type="submit">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-checkbox">
                                <input type="checkbox" id="check" name="check" value="check" required>
                                <label for="check">You accept the terms of service and the privacy policy</label>
                            </div>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 order-md-first">
                        <h2>Subscribe now.</h2>
                        <hr class="space-xs" />
                        <p>Sare nostrud exercitation ullamco sea takiquis nostrud message bareteso exercitatio.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company and team</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Company details and team</a>
                            </li>
                            <li>
                                <a href="#">News and blog</a>
                            </li>
                            <li>
                                <a href="#">Press area</a>
                            </li>
                            <li>
                                <a href="#">Affiliates and marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Learn more</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Apps stores</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Privacy and terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Follow us</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="linkedin"><i class="icon-linkedin"></i></a>
                        <a class="youtube"><i class="icon-youtube"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© Codrop LTD 2019. Codrop is a powerful Landing Page App Template built with <a target="_blank" href="https://themekit.dev/code/">Themekit</a> by the <a target="_blank" href="https://schiocco.com/">Schiocco</a> Team. </span>
                <span><img src="media/logo-light.svg" /></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/tab-accordion.js"></script>
        <script src="themekit/scripts/imagesloaded.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="media/custom.js"></script>
    </footer>
</body>
</html>