<!DOCTYPE html>
<html>

    {% include head.html %}

	<body id="top">

        {% include header.html %}
        <!-- Main -->

            <header>


              <!-- header wrapper -->
          		<div class="header-wrapper sm-padding section_gap_top">
          			<div class="container">
          				<h2>{{ page.title }}</h2>
          				<ul class="breadcrumb">
          					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
          					<li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
          					<li class="breadcrumb-item active">{{ page.title }}</li>
          				</ul>
          			</div>
          		</div>
          		<!-- /header wrapper -->




<!-------------------------------->
        <!-- Blog -->
      	<div id="blog" class="section sm-padding">

      		<!-- Container -->
      		<div class="container">

      			<!-- Row -->
      			<div class="row">

      				<!-- Main -->
      				<main id="main" class="col-md-9">
      					<div class="blog">

              <div class="blog-content">

                {{ content }}
              </div>

                {% if page.guide0 %}
                <p><div class="scroll">
                  <img src="images/{{ page.folder }}/{{ page.guide0 }}">
                </div></p>
                {% endif %}

                <!-- blog worksheets -->
                {% assign worksheetsize = page.worksheets.size %}
                {% if worksheetsize != 0 %}
                <div class="blog-worksheets">
                  <h5>Worksheets:</h5>
                  {% for worksheet in page.worksheets %}
                  <a href="{{ site.url }}/images/{{ page.folder }}/{{ worksheet | cgi_encode }}" data-toggle="tooltip" title="Worksheet to download {{ worksheet }}" rel="worksheet"><i class="far fa-map"></i>{{ worksheet }}</a>
                  {% endfor %}
                </div>
                {% endif %}
      					<!-- /blog worksheets -->

                <!-- blog tags -->
                {% assign tagsize = page.categories.size %}
                {% if tagsize != 0 %}
                <div class="blog-tags">
                  <h5>Tags:</h5>
                  {% for tag in page.categories %}
                  <a href="{{ site.url }}/blog#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag"><i class="fas fa-tag"></i>{{ tag }}</a>
                  {% endfor %}
                </div>
                {% endif %}
      					<!-- blog tags -->




                <!-- Navigation Arrows -->
                <div class="PageNavigation">
                  {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                  {% endif %}
                  {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                  {% endif %}
                </div>
                <!-- /Navigation Arrows -->

          </main>



        			<!-- /Row -->
              <div class="col-md-3">
                      <div class="blog_right_sidebar">

                          <aside class="single_sidebar_widget author_widget">
                              <img class="author_img rounded-circle" src="images/JennyBallifSquare.png" alt="Jenny Ballif headshot" style="max-width:100%;">
                              <h4>Jenny Ballif</h4>
                              <p>Science Mom</p>
                              <div class="social_icon">
                                  <a href="#"><i class="ti-facebook"></i></a>
                                  <a href="#"><i class="ti-twitter"></i></a>
                                  <a href="#"><i class="ti-github"></i></a>
                                  <a href="#"><i class="ti-linkedin"></i></a>
                              </div>
                              <p>Jenny Ballif has worked as a molecular biologist and a wild land firefighter, and at several jobs that fall in between wearing a lab coat and wielding a chainsaw. She is the mother of three kids, wife of one mathematician, and author of several books.</p>
                              <div class="br"></div>
                          </aside>
                          <aside class="single-sidebar-widget tag_cloud_widget">
                              <h4 class="widget_title">Tag Clouds</h4>
                              <ul class="list">
                                {% assign tags_list = site.categories %}
                                  {% if tags_list.first[0] == null %}
                                    {% for tag in tags_list %}
                                  <li><a href="{{ site.url }}/blog#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
                                  {% endfor %}
                                {% else %}
                                  {% for tag in tags_list %}
                                  <li><a href="{{ site.url }}/blog#{{ tag[0] | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag[0] }}" rel="tag">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
                                  {% endfor %}
                                {% endif %}
                              {% assign tags_list = nil %}
                              </ul>
                          </aside>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>




        {% include footer.html %}

    </body>

</html>
