<!DOCTYPE html>
<html>

    {% include head.html %}

	<body id="top">

        {% include header.html %}
        <!-- Main -->
        <div class="wrapper style1">
            <article class="container">
                <header class="major">
                    <h2 class="post-title">{{ page.title }}</h2>
                        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                </header>
                <section class="post-content">
                    {{ content }}
                </section>
                    {% if page.guide0 %}
                    <div class="row">
                      <div class="6u 12u$(small)">
                        <ul class="actions fit" style="margin-bottom: 0;">
                          <li class="3u 6u(small)"><a href="{{ site.baseurl }}/images/{{ page.folder }}/{{ page.guide1 }}" class="button alt fit">8.5" &times; 11"</a></li>
                          <li class="3u 6u$(small)"><a href="{{ site.baseurl }}/images/{{ page.folder }}/{{ page.guide2 }}" class="button alt fit">11" &times; 17"&nbsp;</a></li>
                        </ul>
                      </div>
                      <div class="6u 12u$(small)">
                        <ul class="actions fit"  style="margin-bottom: 0;">
                          <li class="3u 6u(small)"><a href="{{ site.baseurl }}/images/{{ page.folder }}/{{ page.guide3 }}" class="button alt fit">A3 paper</a></li>
                          <li class="3u$ 6u$(small)"><a href="{{ site.baseurl }}/images/{{ page.folder }}/{{ page.guide4 }}" class="button alt fit ">A4 paper</a></li>
                        </ul>
                      </div>
                    </div>

                    <p><div id="scroll">
                      <img src="images/{{ page.folder }}/{{ page.guide0 }}">
                    </div></p>
                    {% endif %}

                 <footer class="post-footer">
                                 <section class="author">
                                 	<header> <a href="{{ site.baseurl }}"> <img class="profile" src="images/JennyBallifSquare.png" alt="Author's profile picture"></a></header>
                                 	<article>
                                 		<!-- Author Name -->
                                     	<h4> Jenny Ballif </h4>
                                     	<!-- Author Bio -->
                                     	<p>
                                        Jenny Ballif has worked as a molecular biologist and a wild land firefighter, and at several jobs that fall inbetween wearning a labcoat and weilding a chainsaw. She is the mother of three kids, wife of one mathematician, and author of four manuscripts.  
                                     	</p>
                                     </article>
                                 </section>

                             <section class="share">
                                 <h4>Share this post</h4>
                                 <a href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}"
                                     onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="icon fa-twitter"><span class="label">Twitter</span></a>
                                 <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
                                     onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="social icon fa-facebook" ><span class="label">Facebook</span></a>
                                 <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="icon fa-google-plus" ><span class="label">Youtube</span></a>
                             </section>

                             <div class="PageNavigation">
                               {% if page.previous.url %}
                                 <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}"> &larr; {{ page.previous.title }}</a>
                               {% else %}
                                 <a class="prev"></a>
                               {% endif %}
                               {% if page.next.url %}
                                 <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
                               {% endif %}
                             </div>



                             {% include disqus_comments.html %}

                         </footer>

                {% include disqus_comments.html %}
        	<style>
        #skel-layers-inactiveWrapper {
            display: none !important;
        }
        </style>
            </article>
        </div>
        {% include footer.html %}

    </body>

</html>
